{% extends "base.html.twig" %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 offset-sm-3">
                <h1 class="text-center">Scss and bootstrap are ok</h1>
            </div>
        </div>
    </div>
{% endblock %}
