{% extends "base.html.twig" %}

{% block body %}

{% include "homeMin/navbarMin.html.twig" %}
    <div class="row">
        <div class="col-sm-12">
            <h1 class="text-center">Page d'accueil quand je ne suis pas connecté</h1>
        </div>
    </div>
{% endblock %}
