<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Le mauvais coin !{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('build/css/main.css') }}">
    {% block stylesheets %}{% endblock %}
</head>
<body>
<div class="container-fluid">
    {% block body %}{% endblock %}
    {% include "footer.html.twig" %}
</div>
{% block javascripts %}{% endblock %}
<script src="{{ asset('build/js/app.js') }}"></script>
</body>
</html>
