<div class="row">
    <div class="col-sm-8 offset-sm-2">
        {{ form_start(search) }}
        {{ form_widget(search) }}
        <p><input class="btn btn-light"type="submit" value="Créer"></p>
        {{ form_end(search) }}
    </div>
</div>