{% extends 'base.html.twig' %}

{% block body %}

    {% include "user/navbar.html.twig" %}

    <div class="row text-center">
        <div class="col-sm-8 offset-sm-2">
            <p>Bienvenue {{ app.user.username }} , vous êtes sur la partie dédiée à l'utilisateur</p>
        </div>
    </div>

{% endblock %}